.Review {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    gap: 16px;
    width: 100%;
}
.rating {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 16px;
}
