.ReviewCard {
    width: 400px;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
    background-color: lightslategray;
    border-radius: 6px;
    border: 1px solid #333;
    box-shadow: 0 0 6px;
    position: relative;
}
.review-sender-info {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 16px;
}
