.my-products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding: 8px;
    gap: 16px;
    width: 100%;
    min-width: 300px;
}
.add-new-product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
}

