.all-products-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 32px;
}

@media (max-width: 900px) {
    .all-products-container {
        justify-content: center;
    }
}
