.Profile {
    gap: 100px;
}
.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.editingInputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
a {
    text-decoration: none;
    color: #005f8b;
}
.user-actions {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 32px;
}

.action {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 16px;
    width: 100%;
    cursor: pointer;
}
